@model List<ProjectGetVM>
@{
	int order = 1;
}
<table class="table">
	<a class="btn btn-succes" asp-action="Create">Create</a>
	<thead>
		<tr>
			<th scope="col">@(order++)</th>
			<th scope="col">Content</th>
			<th scope="col">Category</th>
			<th scope="col">ImagePath</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var project in Model)
		{
			<tr>
				<th scope="row">@project.Id</th>
				<td><img src="~/imgs/projects/@project.ImagePath" /></td>
				<td>@project.Content</td>
				<td>@project.CategoryName</td>
				<td>
					<a class="btn btn-warning" asp-action="Update"
					   asp-route-id="@project.Id">Update</a>
					<a class="btn btn-danger" asp-action="Delete"
					   asp-route-id="@project.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>